.orders-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: auto;
    max-width: 950px;
}
.order-box{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eaeaec;
    width: 70%;
}
.order-box .cart-item-qty{
    width: unset;
    padding: 2px 8px;
}
.rating-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.order-box .item-details-box{
    width: 100%;
}
.review-btn{
    border: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #f16565;
    cursor: pointer;
}
.review-section {
    display: flex;
    flex-direction: column;
}
.review-title{
    color: var(--color-grey-900);
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
textarea.review-text-area {
    height: 180px;
    width: 350px;
    border: 1px solid #eaeaec;
    font-family: inherit;
    padding: 10px;
}
.review-submit-btn-box{
    margin: auto;
}
textarea:focus-visible{
    outline: 1px solid #f16565;
}